<!--Plantilla que se rellena con información de cada producto-->

<% productos.forEach(product => { %>
    <article class="product-home">
        <a href="/products/<%=product.id%>">
            <div>
                <img class="image-product-home" src="<%=product.imagen %>" alt="imagen-producto">
            </div>
            <div class="descripcion">
               
                <p class="precio"><%= product.precio %> </p>
                
                <p class="nombre"><%= product.nombre %></p>
            </div>
        </a>                   
    </article>
<% }) %>
