
<footer class="footer">
    <div class="list-footer">
        <h3>Mas de Nosotros</h3>
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Merchandisign</a></li>
            <li><a href="#">Sobre nosotros</a></li>
        </ul>
    </div>
    <div class="item social">
        <a href="https://www.google.com.ar/maps"><i class="fa-sharp fa-solid fa-location-dot"></i></a>
        <a href="https://web.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <p class="copyright">Birroteca © 2022</p>
    </div>
</footer> 
    

