<header>
<section class="main-box-header">

    <div class="box-input-header">
        <input type="search" >
        <!--<button><i class="fa-solid fa-magnifying-glass"></i></button>-->
    </div>

    <div class="box-list-header">
        <img src="/images/logoTwoBeers.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="#"></a></li>
        </ul>

    </div>

    <div class="box-icons-header">
        <a href="login"><i class="fa-solid fa-user"></i></a>
        <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>

</section>
</header>