<header>
<section class="main-box-header">

    <nav class="nav-header">


        <ul class="login-header">
            <li><a href="/">home</a></li>
            <li><a href="/products/create">Agregar producto</a></li>
            <li><a href="/products/edit/:id">modificar producto</a></li>
        </ul>
    </nav>

    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>

    <div class="box-list-header">
        <img src="/images/3c00bc399970a469c46705cfebf90c8f-removebg-preview.png" alt="">
       

    </div>

    <div class="box-icons-header">
        <a href="/login"><i class="fa-solid fa-user"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>

</section>
</header>