<header>
<section class="main-box-header">

    <nav class="nav-header">


        <ul class="login-header">
            <li><a href="#products">Productos</a></li>
            <li><a href="#merchandising">Merchandising</a></li>
            <li><a href="/admin">Agr/Mod producto</a></li>
        </ul>
    </nav>

    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>

    <div class="box-list-header">
        <img src="/images/logoTwoBeers.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="#"></a></li>
        </ul>

    </div>

    <div class="box-icons-header">
        <a href="login"><i class="fa-solid fa-user"></i></a>
        <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href=""><i class="fa-solid fa-location-dot"></i></a>
    </div>

</section>
</header>