<header>
    <article class="barra">
        <a href="/"><img src="/images/logo-header.jpg" alt="logo" class="logo"></a>
   

    <nav class="nav-header">
        <ul class="login">
            <li>
                <a href="#">Mi perfil <i class="fa-regular fa-id-card"></i></a>
            </li>
            <li>
                <a href="/login">Cerrar sesión <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            
            <li>
                <a href="/carrito">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            </li> 
        </ul>

        <ul class="login">
            <li><a href="#products">Productos</a></li>
            <li><a href="#merchandising">Merchandisign</a></li>
            <li><a href="/admin">Agr/Mod producto</a></li>
        </ul>
    </nav>

    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>
</header>