<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    
    <div class="header">
    <header>
            <div class="fondo-logo">
                
                <img src="/images/logo.jpg" alt="" class="logo">
            </div>
        </header>
    </div>
    <main>
    
         <div class="caja-grande">
            <div class="caja-arriba">
                <p>Producto</p>
                <p>Precio x u.</p>
                <p>Cantidad</p>
                <p>Subtotal</p>
            </div>
            <div class="caja-abajo">
                <p><img src="/images/lata1.jpg" alt="" class="birra"></p>
                <p>$500</p>
                <p>6 unidades</p>
                <p>$3000</p>
            </div>
            <div class="caja-abajo">
                <p><img src="/images/lata2.jpg" alt="" class="birra"></p>
                <p>$500</p>
                <p>6 unidades</p>
                <p>$3000</p>
            </div>
         </div>

         <!-- <div class="caja-grande">
            <div class="producto">
                <p class="texto">Producto</p>
                <img src="/images/birra.png" alt="" class="birra">

            </div>
            <div class="producto">
                <p class="texto">Precio</p>
                <p>$500</p>
            </div>
            <div class="producto">
                <p class="texto">Cantidad</p>
                <p>6</p>
            </div>
            <div class="producto">
                <p class="texto">Subtotal</p>
                <p>$3000</p>
            </div>
        </div> --> 
        <div class="contendor-cupon">
            <input type="text" placeholder="Inserte cupon" class="inserte-cupon">
            <input type="button" value="Aplicar cupon" class="cupon">
        </div>
        <div class="caja-contenedor">

            <div class="contenedor">
                <h1>Total del carrito</h1>
                <div class="tarjeta">
                    <div>
                        <p>Subtotal</p>
                        <p>Envio</p>
                        <p>Total</p>
                    </div>
                    <div>
                        <p>$6000</p>
                        <p>$400</p>
                        <p>$6400</p>
                    </div>
                    
                </div>
                   <div class="boton-pagar">
                      <button  type="submit">Seguir comprando</button>
                      <button  type="submit">Pagar</button>
                   </div>
            </div>
        </div>
        
    </main>
    <footer> 
        <!--
        <div class="img-fondo-footer">
            <img src="/images/portada-trama-negro.jpg" alt="fondo-footer">
        </div>
        -->
        <div class="container-social">
            <div class="redes-sociales">
                <p class="columna-izq">
                    <i class="fa-brands fa-instagram"></i>
                    <a class="redes" href="https://www.instagram.com">Encontranos en instagram</a>
                </p><br>
            </div>
    
            <div class="whatsapp">
                <p class="columna-izq">
                    <i class="fa-brands fa-whatsapp"></i>
                    <a class="redes" href="https://web.whatsapp.com/">Contactanos por whatsapp</a><br>  
                </p><br>
            </div>

            <div class="google-maps">
                <p class="columna-izq">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <a class="redes" href="https://www.google.com.ar/maps">Encontranos en ésta ubicación</a><br>
                </p><br>

            </div>
        </div>

        <div class="container-medios">
            <div class="pagos">
                <i class="fa-regular fa-credit-card"></i>
                <p>Aceptamos todos los medios de pago</p><br>
            </div>

            <div class="envíos">
                <i class="fa-solid fa-truck"></i>
                <p>Envíos a todo el país!</p>
            </div>

        </div>

        <div class="container-imagen">
            <img class="img-footer" src="/images/logo-footer.jpg" alt="">
        </div>
        

    </footer>
    
</body>

</html>