<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="fondo-logo">

            <img src="/imagenes/logo.jpg" alt="" class="logo">
        </div>
    </header>
    <main>
        <div class="caja-grande">
            <div class="producto">
                <p class="texto">Producto</p>
                <img src="/imagenes/birra.png" alt="" class="birra">

            </div>
            <div class="producto">
                <p class="texto">Precio</p>
                <p>$500</p>
            </div>
            <div class="producto">
                <p class="texto">Cantidad</p>
                <p>6</p>
            </div>
            <div class="producto">
                <p class="texto">Subtotal</p>
                <p>$3000</p>
            </div>
        </div>
        <div>
            <input type="text" placeholder="Inserte cupon" class="cupon">
            <input type="button" value="Aplicar cupon" class="cupon">

        </div>
        <div class="contenedor">
        <h1>Total del carrito</h1>

            <div class="tarjeta">



                <div>
                    <p>Subtotal</p>
                    <p>Envio</p>
                    <p>Total</p>
                </div>
                <div>
                    <p>$3000</p>
                    <p>$400</p>
                    <p>$3400</p>
                </div>

            </div>
            <input type="button" name="" id="comprar" value="Comprar">
        </div>
    </main>
</body>

</html>