<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    
    
    <link rel="stylesheet" href="/css/home2.css">
</head>
<body>
    <header>
        <article class="barra">
            <img src="/images/logo-header.jpg" alt="logo" class="logo">
       

        <nav>
            <ul class="login">
                <li>
                    <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="/carrito">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>

        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>

   
    <main>
        <div class="">
            <h3>PRODUCTOS</h3>
        </div>


        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/images/lata.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">
                       
                        <p class="precio">$3.000</p>
                        
                        <p class="nombre">Juego Absurdo - pack x6 u.</p>
                    </div>
                </a>                   
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata1.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">
                       
                        <p class="precio">$2.500</p>
                  
                        <p class="nombre">Alma Gorda - pack x6 u.</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata2.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.200</p>
                      
                        <p class="nombre">Agua Bendita - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata3.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Manos Frescas - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata4.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Manos Frescas - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata5.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Islas Flotantes - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata6.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Islas Flotantes - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata1.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Alma Gorda - pack x6 u.</p>
                    </div>
                </a>
            </article>
        </section>

        <section class="banner">
            <h2>MERCHANDISING</h2>
            <!--<img src="/images/portada-trama-negro.jpg" alt="banner" class="banner-img">-->
        </section>


       
        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/images/merch1.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">    
                       
                        <p class="precio">$6.700</p>
                     
                        <p class="nombre">Merch Animal con peluca</p>
                    </div>
                </a>                    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/merch2.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">    
                     
                        <p class="precio">$6.700</p>
                      
                        <p class="nombre">Merch Animal Strange</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/merch3.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                      
                        <p class="precio">$7.500</p>
                      
                        <p class="nombre">Merch STRANGE</p>
                    </div>
                </a>
            </article>

         
        </section>
    </main>

    <footer> 
        <!--
        <div class="img-fondo-footer">
            <img src="/images/portada-trama-negro.jpg" alt="fondo-footer">
        </div>
        -->
        <div class="container-social">
            <div class="redes-sociales">
                <p class="columna-izq">
                    <i class="fa-brands fa-instagram"></i>
                    <a class="redes" href="https://www.instagram.com">Encontranos en instagram</a>
                </p><br>
            </div>
    
            <div class="whatsapp">
                <p class="columna-izq">
                    <i class="fa-brands fa-whatsapp"></i>
                    <a class="redes" href="https://web.whatsapp.com/">Contactanos por whatsapp</a><br>  
                </p><br>
            </div>

            <div class="google-maps">
                <p class="columna-izq">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <a class="redes" href="https://www.google.com.ar/maps">Encontranos en ésta ubicación</a><br>
                </p><br>

            </div>
        </div>

        <div class="container-medios">
            <div class="pagos">
                <i class="fa-regular fa-credit-card"></i>
                <p>Aceptamos todos los medios de pago</p><br>
            </div>

            <div class="envíos">
                <i class="fa-solid fa-truck"></i>
                <p>Envíos a todo el país!</p>
            </div>

        </div>

        <div class="container-imagen">
            <img class="img-footer" src="/images/logo-footer.jpg" alt="">
        </div>
        

    </footer>
    
</body>
</html>