<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <!--LOGO-->
        <div class="img-logo">
            <img src="/images/logo-header.jpg" alt="logo">
        </div>
        <!--NAVBAR-->
        <nav class="main-navbar">
            <ul>
                <li type="none"><a href="/login">Ingresa</a></li>
                <li type="none"><a href="/register">Registrate</a></li>
                <li type="none"><a href="/carrito">Carrito</a></li>
            </ul>
        </nav>

    </header>
    <h1>home</h1>

    <section class="productos">
        <article>
            <div class="img-product">
                <img src="images/lata.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
        <article>
            <div class="img-product">
                <img src="images/lata1.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
        <article>
            <div class="img-product">
                <img src="images/lata2.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
        <article>
            <div class="img-product">
                <img src="/images/lata3.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
        <article>
            <div class="img-product">
                <img src="/images/lata4.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
        <article>
            <div class="img-product">
                <img src="/images/lata5.jpg">
            </div>
            <div class="precio">
                $750
            </div>
        </article>
    </section>
    
</body>
</html>