<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="">
            <h3>PRODUCTOS</h3>
        </div>


        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/images/lata.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">
                       
                        <p class="precio">$3.000</p>
                        
                        <p class="nombre">Juego Absurdo - pack x6 u.</p>
                    </div>
                </a>                   
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata1.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">
                       
                        <p class="precio">$2.500</p>
                  
                        <p class="nombre">Alma Gorda - pack x6 u.</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata2.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.200</p>
                      
                        <p class="nombre">Agua Bendita - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata3.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Manos Frescas - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata4.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Manos Frescas - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata5.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Islas Flotantes - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata6.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Islas Flotantes - pack x6 u.</p>
                    </div>
                </a>
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/lata1.jpg" alt="tv">
                    </div>
                    <div class="descripcion">
                        
                        <p class="precio">$3.700</p>
                       
                        <p class="nombre">Alma Gorda - pack x6 u.</p>
                    </div>
                </a>
            </article>
        </section>

        <section class="banner">
            <h2>MERCHANDISING</h2>
            <!--<img src="/images/portada-trama-negro.jpg" alt="banner" class="banner-img">-->
        </section>


       
        <section>
            <article>
                <a href="">
                    <div>
                        <img src="/images/merch1.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">    
                       
                        <p class="precio">$6.700</p>
                     
                        <p class="nombre">Merch Animal con peluca</p>
                    </div>
                </a>                    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/merch2.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">    
                     
                        <p class="precio">$6.700</p>
                      
                        <p class="nombre">Merch Animal Strange</p>
                    </div>
                </a>    
            </article>

            <article>
                <a href="">
                    <div>
                        <img src="/images/merch3.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                      
                        <p class="precio">$7.500</p>
                      
                        <p class="nombre">Merch STRANGE</p>
                    </div>
                </a>
            </article>

         
        </section>
    </main>
<%- include('./partials/footer.ejs')  %> 
    
    
</body>
</html>