<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="body-home">
    <%- include('./partials/header') %> 
    <main class="main-home">
        <div>
            <h3 id="#products" class="tittle-home">PRODUCTOS</h3>
        </div>


        <section>
            <%- include ('./partials/card') %> 
        </section>

        <section class="banner">
            <h2>MERCHANDISING</h2>
            <!--<img src="/images/portada-trama-negro.jpg" alt="banner" class="banner-img">-->
        </section>


       
        <section>
            <article class="product-home">
                <a href="/products">
                    <div>
                        <img class="image-product-home" src="/images/merch1.jpg" alt="cafetera">
                    </div>
                    <div class="descripcion">    
                       
                        <p class="precio">$6.700</p>
                     
                        <p class="nombre">Merch Animal con peluca</p>
                    </div>
                </a>                    
            </article>

            <article class="product-home">
                <a href="/products">
                    <div>
                        <img class="image-product-home" src="/images/merch2.jpg" alt="macbook">
                    </div>
                    <div class="descripcion">    
                     
                        <p class="precio">$6.700</p>
                      
                        <p class="nombre">Merch Animal Strange</p>
                    </div>
                </a>    
            </article>

            <article class="product-home">
                <a href="/products">
                    <div>
                        <img class="image-product-home" src="/images/merch3.jpg" alt="galaxy">
                    </div>
                    <div class="descripcion">
                      
                        <p class="precio">$7.500</p>
                      
                        <p class="nombre">Merch STRANGE</p>
                    </div>
                </a>
            </article>

         
        </section>
    </main>
<%- include('./partials/footer.ejs')  %> 
    
    
</body>
</html>