<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
     

        <form action="/login" method="get"class="form" >
            <div class="form-text">

                <div>
                    <input class="input" type="text" placeholder="Nombre de usuario" class="placehold">
                </div>
                <div>
                    
                    <input class="input"type="password" placeholder="Contraseña" class="placehold">
                </div>
                <div>
                    <label for="recordar" class="text-label">Recordar usuario</label>
                    
                    <input class=""type="checkbox" name="recordar">
                </div>
                <div>
                    
                    <a href="" class="text-a">Recuperar contraseña</a>
                </div>
                
                <button  href="/" >Volver</a>
                </div>
                    
        
        </form>
</body>
</html>