<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
     

        <form action="/login" method="post"class="formulario-login" >
            <div class="input-login">
                <input type="text" placeholder="Nombre de usuario" class="placehold">
            </div>
            <div class="input-login">
                
                <input type="password" placeholder="Contraseña" class="placehold">
            </div>
            <div class="input-login">
                <label for="recordar">Recordar usuario</label>
                <input type="checkbox" name="recordar">
            </div>
            <div class="input-login">
                
                <a href="">Recuperar contraseña</a>
            </div>
            
            
        
        </form>
        <a href="/">Volver</a>
</body>
</html>