<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
     

        <form action="/login" method="get"class="form" >
            <div class="text">
                <input class="input" type="text" placeholder="Nombre de usuario" class="placehold">
            </div>
            <div class="text">
                
                <input class="input"type="password" placeholder="Contraseña" class="placehold">
            </div>
            <div class="text">
                <label for="recordar">Recordar usuario</label>
                <input class="input"type="checkbox" name="recordar">
            </div>
            <div class="text">
                
                <a href="">Recuperar contraseña</a>
            </div>
            
            <button  href="/" >Volver</a>
            
        
        </form>
</body>
</html>