<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="body-login">
    <!-- header -->
    <%- include('./partials/header') %>


    <main class="main-login">


        <form class="form-login" action="/login" method="post">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name">

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">

            
            <div class="btn-links-login">
                <button class="btn-send-login">Enviar</button>
                
                <div>
                   <a href="">Olvidaste la Contraseña?</a>
                   <a href="register">Crea tu cuenta aqui</a>
                </div>
                
            </div>
        
<<<<<<< HEAD
            <div class="label-sesion-login">
                <label for="keep-login">mantener sesion iniciada?  <input type="checkbox" name="keep-login" id="keep-login"></label>
            </div>

        </form>


    </main>


        
    <!-- footer -->
    <%- include('./partials/footer.ejs')  %>

=======
<main>

    <form action="/login" method="post" class="form-login">
        <div class="titulo">
            <h2>Birroteca</h2>
        </div>
        <div class="form-text">

            
            <div>
                <input class="input-login" type="text" placeholder="Nombre de usuario" class="placehold" name="usuario">
            </div>

            <div>                
                <input class="input-login" type="password" placeholder="Contraseña" class="placehold" name ="contraseña">
            </div>

            <div>
                <label for=""> Mantener sesion iniciada</label>
                <input type="checkbox" name="remember">
            </div>

                <div>
                    
                    <a href="" class="retrieve-password">Recuperar contraseña</a>
                </div>
            </div>
                
            
        </div>

        <button type="submit "class="btn-login">Iniciar sesion</a>
    </form>
</main>
<%- include('./partials/footer.ejs')  %>
>>>>>>> dc4eed2cb737be5c24032721dc4c051368d4f617
</body>

</html>