<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/9c8d5d58ab.js" crossorigin="anonymous"></script>

</head>
<body>
    
        <div class="bubbles">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
        </div>
    

    <header><h1>hola</h1></header>

    <section>

        <div class="name-like">

            <div class="name-product">
                <h3>quilmes</h3>
            </div>

            <button class="like"><i class="fa-light fa-heart"></i></button>

        </div>


        <div class="image-product">
            <img class="image" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/246/405/themes/new_linkedman/1-img-21156513-1593787473-ca1fdb745f212f63767337212ab51f6c1593787474-480-0.webp?2018106145" alt="">
        </div>


        <div class="container-btns-price">

            <button class="btn-buy">comprar</button>

            <button class="btn-cart"><i class="fa-light fa-cart-shopping"></i></button>

            <p class="price">$320,10</p>
        </div>
        

        <div class="description"><h3>descripcion:</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur, in minima veniam doloribus nisi optio ullam provident nemo voluptas. Maxime unde porro doloremque itaque numquam eveniet iste dicta et!</p></div>

        <h3 class="title-recom">recomendados</h3>

        <div class="recomendation">
            <div class="opt-1">
                <img class="img-rcm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB5H8VPaFHw5BMXKgZhHwmaffQ6QYQoZIAhWSdct1m8EBgnR2hQxFXiXALk9wHMvkNfY4&usqp=CAU" alt="">
            </div>
            <div class="opt-2">
                <img class="img-rcm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRa8jgE0PieOI9DnwFfk9g-qNys7sUHBqfLA&usqp=CAU" alt="">
            </div>
            <div class="opt-3">
                <img class="img-rcm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_GQ4aXbko20eztF1ty9ur1wzKi1Neagl-zJgHWQf60R7FHsa0j_ldOkUPMXqDUFjP8Lk&usqp=CAU" alt="">
            </div>
        </div>

    </section>

</body>
</html>