<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="body-admin-produ">
    <%- include('./partials/header') %>

    <section class="section-admin-produ">
        <h1>Agregar/Modificar producto</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name">

            <label for="category">Categoria:</label>
            <select name="category" id="category">
                <option value="cerveza">Cerveza</option>
                <option value="Merchandisign">Merchandisign</option>
            </select>
        
            <label for="image">Imagen:</label>
            <input type="file" name="productImg" id="image">

            <label for="description">Descripcion:</label>
            <input type="text" name="description" id="description">

            <label for="price">Precio:</label>
            <input type="number" name="price" id="price">

            <!--FALTA AGREGAR MARCA Y ESTILO-->
            <button>Enviar</button>

            <button>Borrar</button>

        </form>
    </section>