<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/9c8d5d58ab.js" crossorigin="anonymous"></script>

</head>
<body>



    <header class="header-home">

        <!--NAVBAR-->
        <nav class="main-navbar">

            <div class="house-nav">
                <a  href="views/home.html"><i class="fa-solid fa-house"></i></a>
                <ul class="nav-redes">
                <li type="none"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>

                <li type="none"><a href="https://web.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a></li>

                <li type="none"><a href="https://www.google.com.ar/maps"><i class="fa-sharp fa-solid fa-location-dot"></i></a></li>
            </ul>
            </div>

            <ul class="container-navbar">
                <li type="none"><a class="navbar" href="/login">Ingresá</a><i class="fa-solid icon-nav fa-user"></i></li>                

                <li type="none"><a class="navbar" href="/register">Registrate</a><i class="fa-solid icon-nav fa-id-card"></i></li>                

                <li type="none"><a class="navbar" href="/carrito">Carrito</a><i class="fa-solid icon-nav fa-cart-shopping"></i></li>                
            </ul>
        </nav>
            
    </header>
    
        <div class="bubbles">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
        </div>
    

    <section>

        <div class="name-like">

            <div class="container-name-product">
                <h3 class="name-product">Alma Gorda</h3>
            </div>

            <button class="like"><i class="fa-solid fa-heart-circle-plus"></i></button>

        </div>


        <div class="image-product">
            <img class="image" src="images/lata1.jpg" alt="">
        </div>


        <div class="container-btns-price">

            <button class="btn-buy">comprar</button>

            <button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button>

            <p class="price">$320,10</p>
        </div>
        

        <div class="description">
            <h3 class="title-desc">descripcion:</h3>

            <p>Alma Gorda Czech Amber Lager - Strange Brewing: <br> <br>
            Exuberante delicia checa. Inconfundible sabor a la corteza del pan recién horneado y un carácter lupulado tan herbal como fresco. 
            <br><br>
            Crocante, sequita, maltosa y acaramelada. 
            <br><br>
            Alc 4.8%</p>
        </div>

        <h3 class="title-recom">recomendados</h3>

        <div class="recomendation">
            <div class="opt-1">
                <a href="#"><img class="img-rcm" src="images/lata2.jpg" alt=""></a>
                <h5>Agua Bendita</h5>
            </div>
            <div class="opt-2">
                <a href="#"><img class="img-rcm" src="images/lata6.jpg" alt=""></a>
                <h5>Islas Flotantes</h5>
            </div>
            <div class="opt-3">
                <a href="#"><img class="img-rcm" src="images/lata4.jpg" alt=""></a>
                <h5>Manos Frescas</h5>
            </div>
        </div>

    </section>

        <footer class="footer">
            <div class="list-footer">
                <h3>Mas de Nosotros</h3>
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Merchandisign</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="item social">
                <a href="https://www.google.com.ar/maps"><i class="fa-sharp fa-solid fa-location-dot"></i></a>
                <a href="https://web.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <p class="copyright">Birroteca © 2022</p>
            </div>
        </footer>

</body>
</html>