<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/css/product-style.css">

    <script src="https://kit.fontawesome.com/9c8d5d58ab.js" crossorigin="anonymous"></script>

</head>
<body>


    <header><h1>hola</h1></header>

    <section>
        <div class="name-product">
            <h3>quilmes</h3>
        </div>

        <div class="like"><i class="fa-light fa-heart"></i></div>

        <div class="image-product">
            <img src="https://www.htfw.com/media/catalog/product/cache/d20e7e37a41931b388d2b2f532868eb3/l/p/lp8725_1.jpg" alt="">
            <img src="https://pbs.twimg.com/media/DYXIWFJV4AAm5K7.jpg" alt="">
        </div>

        <div class="buttons">
            <button>comprar</button>
            <button><i class="fa-light fa-cart-shopping"></i></button>
        </div>

        <div class="price"><h3>precio</h3></div>

        <div class="description"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur, in minima veniam doloribus nisi optio ullam provident nemo voluptas. Maxime unde porro doloremque itaque numquam eveniet iste dicta et!</p></div>

        <h3>recomendados</h3>

        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>

    </section>

</body>
</html>