<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="body-register">
    <!-- header -->
    <%- include('./partials/header') %>


    <main class="main-register">


        <form class="form-register" action="/login" method="post">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name">

            <label for="lastname">Apellido:</label>
            <input type="text" name="lastname" id="lastname">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email">

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">

            
            <div class="btn-links-register">
                <button class="btn-send-register">Registrarse</button>
                
                <div>
                   <a href="login">Ya tienes cuenta?</a>
                </div>
                
            </div>
        
            <div class="label-sesion-register">
                <label for="keep-login">mantener sesion iniciada?  <input type="checkbox" name="keep-login" id="keep-login"></label>
            </div>

        </form>


    </main>


        
    <!-- footer -->
    <%- include('./partials/footer.ejs')  %>

</body>

</html>
   