<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="body-register">
    <!-- header -->
    <%- include('./partials/header') %>


    <main class="main-register">

    <form action="/register" method="post" class="form-register" enctype="multipart/form-data">
        <h2 class="tittle-register">Registrate!</h2>
        <div class="text">
            <input class="input-register"type="text" name="nombre" id="Nombre" required>
            <label class="label-register" for="">Nombre</label>
        </div>
        <div class="text">
            <input class="input-register" type="text" name="usuario" id="Usuario" required>
            <label class="label-register" for="">Nombre de Usuario</label>
        </div>
        <div class="text">
            <input class="input-register" type="email" name="email" id="email" required>
            <label class="label-register" for="">Email</label>
        </div>
        <div class="text">
            <label class="label-register" for="">Fecha de nacimiento</label>
            <input class="input-register"type="date" name="fecha" required>
        </div>
        <div class="text">
            <label for="imagen">Imagen de perfil</label>
            <input type="file" name="imagenUsuario">
        </div>
        <div class="text">
            <input class="input-register" type="password" name="password" id="password" required>
            <label class="label-register" for="">Contraseña</label>
        </div>
        
        <button class="btn-register" type="submit" >Registrarme</button>
        
    </form>
</main>

        </form>


    </main>


        
    <!-- footer -->
    <%- include('./partials/footer.ejs')  %>

</body>

</html>
   