<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    

</head>
<header>
  
</header>
<main>
    <div class="preset">
        <div class="titulo">
            <h1>LA BIRROTECA</h1>
        </div> 
        <div class="img">
            <img class="img1" src="/IMG/sydnyc.jpg" alt="logo">
        </div> 
    </div>
   

</main>
<body>
    <form action="/" method="post" class="form-register">
        <h2>Registrate!</h2>
        <div class="text">
            <input class="input"type="text" name="" id="Nombre" required>
            <label for="">Nombre</label>
        </div>
        <div class="text">
            <input class="input" type="text" name="" id="Usuario" required>
            <label for="">Nombre de Usuario</label>
        </div>
        <div class="text">
            <input class="input" type="email" name="" id="email" required>
            <label for="">Email</label>
        </div>
        <div class="text">
            <input class="input"type="date" name="fecha" required>
            <label for="">Fecha de nacimiento</label>
        </div>
        <div class="text">
            <input class="input" type="password" name="" id="password" required>
            <label for="">Contraseña</label>
        </div>

        <button type="submit">Enviar</button>
     
   </form>
</body>
</html>

   