<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ad3d3e61e2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/CSS/register.css">
    <link rel="stylesheet" href="/CSS/home.css">
    

</head>
<body>
    <div class="header">
        <header>
                 <img src="/images/logo.jpg" alt="" class="logo">
            </header>
        </div>

<main class="contenedor">
    <div class="preset">
        <div class="titulo">
            <h1>LA BIRROTECA</h1>
        </div> 
        <div class="img">
            <img class="img1" src="/images/sydnyc.jpg" alt="logo">
        </div> 
    </div>
   

    <form action="/" method="post" class="form-register">
        <h2>Registrate!</h2>
        <div class="text">
            <input class="input"type="text" name="" id="Nombre" required>
            <label for="">Nombre</label>
        </div>
        <div class="text">
            <input class="input" type="text" name="" id="Usuario" required>
            <label for="">Nombre de Usuario</label>
        </div>
        <div class="text">
            <input class="input" type="email" name="" id="email" required>
            <label for="">Email</label>
        </div>
        <div class="text">
            <input class="input"type="date" name="fecha" required>
            <label for="">Fecha de nacimiento</label>
        </div>
        <div class="text">
            <input class="input" type="password" name="" id="password" required>
            <label for="">Contraseña</label>
        </div>
        
        <button type="none" href="/home">Registrarme</button>
        
    </form>
</main>
    <footer class="footer-register">
    <div class="container-social">
        <div class="redes-sociales">
            <p class="columna-izq">
                <i class="fa-brands fa-instagram"></i>
                <a class="redes" href="https://www.instagram.com">Encontranos en instagram</a>
            </p><br>
        </div>

        <div class="whatsapp">
            <p class="columna-izq">
                <i class="fa-brands fa-whatsapp"></i>
                <a class="redes" href="https://web.whatsapp.com/">Contactanos por whatsapp</a><br>
            </p><br>
        </div>

        <div class="google-maps">
            <p class="columna-izq">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <a class="redes" href="https://www.google.com.ar/maps">Encontranos en ésta ubicación</a><br>
            </p><br>

        </div>
    </div>

    <div class="container-medios">
        <div class="pagos">
            <i class="fa-regular fa-credit-card"></i>
            <p>Aceptamos todos los medios de pago</p><br>
        </div>

        <div class="envíos">
            <i class="fa-solid fa-truck"></i>
            <p>Envíos a todo el país!</p>
        </div>

    </div>

    <div class="container-imagen">
        <img class="img-footer" src="/images/logo-footer.jpg" alt="">
    </div>


</footer>
</body>
</html>

   