.logo{
    height: 100px;
    width: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #B06AB3, #4568DC);
}
.header{    
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

.caja-grande{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    
}
.caja-arriba{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    text-align: center;
   
}
.caja-abajo{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid white;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.birra{
    height: 100px;
    width: auto;
    box-shadow: 0 0 6px 0 rgba(32, 31, 31, 0.8);
    border-radius: 5px;
}
.contenedor{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    

}
.caja-contenedor{
    width: 40vw;
    margin: auto;
}

.tarjeta{
    border-top: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}
.contenedor-cupon{
    display: flex;
    flex-direction: row;
}
.inserte-cupon{
    font-family: 'roboto';
    background: #4568DC;
    border: none;
    border-radius: 10px;
    width: 200px;
    margin: 10px auto;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
}
.cupon{
    font-family: 'roboto';
    background: #4568DC;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.boton-pagar{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    
}
button{
    font-family: 'roboto';
    background: #4568DC;
    border: none;
    border-radius: 10px;
    display: block;
    width: 200px;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
   background:#4568DC;
   background-color: #B06AB3;
   color: #fff;
	transition: background, 1s, background-color, 1s;
}