.logo{
    height: 100px;
    width: auto;
}

body{
    background: linear-gradient(to right, #B06AB3, #4568DC);
}
.fondo-logo{
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
li{
    list-style: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caja-grande{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.categorias{
    border-bottom: 1px solid black;
}
.birra{
    height: 100px;
    width: auto;
}
.producto{
    padding: 10px;
}
.texto{
    border-bottom: 1px solid black;
}
.tarjeta{
    background-color: aliceblue;
    margin-top: 10px;
    border-top: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
}
.cupon{
    width: 100px;
    
}
.contenedor{
    width: 100%;
    text-align: center;
}
