
.body-home {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background:linear-gradient(to right, #B06AB3, #4568DC);
}
.tittle-home{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}
.barra{
    width:100vw;
    height: auto;
    background-color: black;
    text-align: center;
   

}



/*.burger{
    text-align: center;
}
.burger i {
    background-color: var(--Celeste);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    color: var(--Blanco);
    font-size: 18px;
}*/


.main-home {
    
    margin:auto;
    margin-top: 20vh;
    width: 95vw;
}
.banner{
    width: 100%;
    height: 170px;
    background-image: url(/images/portada-trama-negro.jpg);
    color: #e1bb80;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-home h3 {
    font-size: 24px;
    text-align: center;
}
.main-home section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-home article {
    background-color: #fff;
    margin-bottom: 10px;
}
.main-home article a {
    text-decoration: none;
}
.main-home article img {
    width: 100%;
}


.image-product-home{
    border-radius: 8px;
}
.descripcion {
    border-top: solid 1px #ebebeb;
    background-color: #fff;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: baseline;
    border-radius: 8px;
}
.precio {
    font-size: 18px;
    color: black;
    margin: 0px;
    padding-right: 10px;
}
.descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
}
.nombre {
    font-weight: bold;
    font-size: 16px;
    color: #666;
    margin-bottom: 0px;
   
    position: absolute;
    bottom: 15px; 
}
.product-home{
    border-radius: 8px;
}









@media (min-width: 426px) {

    .barra {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;    
    }
    .barra img {
        max-width: 188px;
    }
  
    .barra p {
        padding: 0px;
        text-align: right;
    }

    .burger {
        display: none;
    }


    .banner img {
        margin-top: 120.06px;
    }

    .main-home article:hover {
    box-shadow: 0px 0px 10px rgb(44, 42, 42);
    }
   
    

  
    .main-home article {
        width: 49%;
    }
    .descripcion {
        height: 100px;
    }
    .tarjetas-footer {
        display: flex;
    }
    

    .form-register, .form-login {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 120.06px;
    }
    .form-login {
        text-align: center;
    }
    .form-login .formu {
        display: flex;
        justify-content:center;
    }
    
    .formu {
        display: flex;
        justify-content:space-between;
        align-items: baseline;
    }
    .formu label {
        margin: 0px;
    }
    .txt-control {
     width: 77%;
    }  
    .form-register h3 {
        padding-top: 5px;
    }
}

@media (min-width: 769px) {
    .main-home article {
        width: 24%;
    }
    nav {
        font-size: 14px;
    }
    .form-register {
        padding: 20px 250px;
    }
    .form-login {
        padding: 80px 250px;
    }
    .txt-control {
        flex-grow: 1;
    }
   .formu {
    gap: 5px;
   }
}
