.body-login{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-login{
    padding: auto;
    margin: auto;
    
}
.form-login{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(175, 175, 175, 0.932);
    padding: 20px 40px 20px 40px;
    width: 120%;
    color: rgba(175, 175, 175, 0.932);;
    background-color: rgba(43, 43, 43, 0.966);
}
.form-login input{
    margin-bottom: 10px;
    border: 1px solid rgba(175, 175, 175, 0.932);
    background-color: rgba(0,0,0,0.4);
    color:  rgba(175, 175, 175, 0.932);
}
.btn-send-login{
    border: 1px solid rgba(175, 175, 175, 0.932);
    margin: auto 0px;
    padding: 4px 5px;
    background-color: rgba(0,0,0,0.4);
    color: rgba(175, 175, 175, 0.932);
    font-size: 14px;

}
.btn-links-login{
    display: flex;
    justify-content: space-between;
}
.btn-links-login a{
text-decoration: none;
color: rgba(175, 175, 175, 0.932);;
}
.btn-links-login div{
    display: flex;
    flex-direction: column;
}
.label-sesion-login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}