.formulario-login{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(177, 167, 156);
    margin: auto;
}
.input-login{
    margin-top: 1em;
    margin-bottom: 1em;
}
.placehold{
    border-color: bisque;
    border-radius: 5%;
    padding: 1rem;
}