/*background*/
body{
    min-height: 100vh;
    background:#0c192c;
}


.bubbles{
    position: relative;
    display: flex;
    z-index: -100;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    background: #ff2d75;
}
@keyframes animate
{
0%{
    transform: translateY(100vh) scale(0);
}
100%{
    transform: translateY(-10vh) scale(1);
}
}


        /*header*/

.header-home{
    background-color: rgba(8, 20, 36, 0.8);
    padding: 2.5vh 4vw;
    color: rgb(167, 144, 250);
}
.main-navbar{
    display: flex;
    justify-content: space-between;
}
.main-navbar ul{
    display: flex;
    align-items: center;
}
.main-navbar li{
    margin: 0px 7px;
}
.nav-redes{
    display: flex;
}
.nav-redes li{
    margin: 0px 5px;
}
.nav-redes i{
    color:rgb(167, 144, 250);;
}
.house-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-house{
    font-size: 27px;
    margin-bottom: 8px;
}
.navbar{
    color: rgb(167, 144, 250);
    text-decoration: none;
}
.icon-nav{
    margin-left: 4px;
}
                /*imagen de producto, titulo y boton like*/


.name-like{
    display: flex;
    justify-content: space-around;
}
.container-name-product{
    background-color: rgba(12,25,44,0.8);
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgb(218, 215, 215);           
    border-radius: 10px;
    display: block;
}
.name-product{
    
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.like{
    color: rgb(228, 228, 228);
    background-color: rgba(12,25,44,0.8);
    font-size: 20px;
    border: none;
    border-radius: 9px;
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    background-size: 200% auto;           
    border-radius: 10px;
    display: block;
}
.like:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(247, 90, 90);
    text-decoration: none;
}
.image{
    width: 40%;
    border-radius: 20px;
}
.image-product{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}


            /* boton de comprar, carrito y precio*/


.container-btns-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 8%;
}
.btn-buy{
    background-color: rgb(119, 119, 119);
    padding: 3px 12px;
    border-radius: 15px;
    border: none;


    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(218, 215, 215);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-buy:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
     

.btn-cart{
    font-size: 20px;
    background-color: rgb(119, 119, 119);
    border: none;
    border-radius: 9px;

    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px;
    padding: 8px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(218, 215, 215);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-cart:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.price{
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px;
    padding: 8px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(218, 215, 215);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}


    /* descripcion*/


.description{
    margin-bottom: 8%;
    color: rgb(192, 192, 192);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.title-desc{
    margin-bottom: 10px;
}



    /*  recomendations*/




.title-recom{
    color: rgb(192, 192, 192);
    margin-left: 15px;
}
.recomendation{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 12px;
}
.img-rcm{
    width: 25vw;
    border-radius: 15px;
}
.opt-1 h5{
    color: rgb(223, 223, 223);
}
.opt-2 h5{
    color: rgb(223, 223, 223);
}
.opt-3 h5{
    color: rgb(223, 223, 223);
}

      /* footer*/
      .footer {
        padding:30px 0;
        background-color:#fff;
        color:#4b4c4d;
      }
      
      .footer h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
      
      .footer ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      
      .footer ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer ul a:hover {
        opacity:1;
      }
      
      .footer .item.social {
        text-align: center;
      }
      
      .footer .item.social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin-left:10px;
        margin-top:22px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer .item.social > a:hover {
        opacity:0.9;
      }
      
      .footer .copyright {
        margin-top:14px;
        margin-bottom:0;
        font-size:13px;
        opacity:0.6;
      }
      .list-footer{
        text-align: center;
      }


     /*media queries*/



@media screen and (max-width: 420px){
    .img-rcm{
        width: 25vw;
    }
    .image{
        width: 60vw;
    }
    .title-desc{
        margin-left:-70%;
    }
   
}