.body-register{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.form-error{
    color: red;
}

.main-register{
    padding: auto;
    margin: auto;
    
}
.form-register{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(175, 175, 175, 0.932);
    background-color: rgba(43, 43, 43, 0.966);
    padding: 20px 40px 20px 40px;
    width: 120%;
    color: rgba(175, 175, 175, 0.932);;
}
.form-register input{
    margin-bottom: 10px;
    border: 1px solid rgba(175, 175, 175, 0.932);
    background-color: rgba(0,0,0,0.4);
    color:  rgba(175, 175, 175, 0.932);
}
.btn-send-register{
    border: 1px solid rgba(175, 175, 175, 0.932);
    margin: auto 0px;
    padding: 4px 5px;
    background-color: rgba(0,0,0,0.4);
    color: rgba(175, 175, 175, 0.932);
    font-size: 14px;

}
.btn-links-register{
    display: flex;
    justify-content: space-between;
}
.btn-links-register a{
text-decoration: none;
color: rgba(175, 175, 175, 0.932);;
}
.btn-links-register div{
    display: flex;
    flex-direction: column;
}
.label-sesion-register{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}