:root {
    --colorTextos: #49454567;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #4568DC;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.preset{
    font-family: 'Righteous';
    height: 650px;
    width: 600px;
    background-color: white;
    display: flex;
    padding: 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-right: 10px;
    flex-direction: column;
}
.titulo{
    font-size: 30px;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
    text-align: center;    
}

.img{
    text-align: center;
}
.img1{
    border-radius: 10px;
}



h2{
    text-align: center;
    font-weight: 1000;
}

form {
    background: #fff;
    padding: 30px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
form:hover{
    background:#fff;
   background-color:rgba(255, 255, 255, 0.1);
   transition: background, 1s, background-color, 1s;
   box-shadow: none;
   color: #fff;
   transform: translateY(-20px)
}


form .text{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 10px 5px 5px;
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    border-bottom: 2px solid #49454567 ;
}
input:hover{
    border-color: #fff;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background, 1s, background-color, 1s;
}

label .form{
    color: var(--colorTextos);
    font-size: 16px;
    left: 10px;
    top: 5px;
}



button{
    font-family: 'roboto';
    background: #4568DC;
    border: none;
    border-radius: 10px;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
   background:#4568DC;
   background-color: #B06AB3;
   color: #fff;
	transition: background, 1s, background-color, 1s;
}




